<div class="m-2" (submit)="submitParameter()">
    <form class="mx-auto">
      <div class="form-group my-auto row">
        <input
          type="text"
          class="form-control rounded col"
          placeholder="Search"
          #search="ngModel"
          name="search"
          [(ngModel)]="newSearch.parameters"
        />
  
        <button type="submit" class="btn float-right col-" style="background-color:rgb(64, 64, 173);">
          Search
        </button>
      </div>
    </form>
  </div>